/* 1. العنوان الأول */
.myclass {
  color: #ff0000; /* لون أحمر (Hex) */
  
  /* الإضافة الجديدة: تكبير الخط */
  font-size: 50px;
}

/* 2. العنوان الثاني */
#myid {
  color: #0f0; /* لون أخضر (Hex مختصر) */
  
  /* الإضافة الجديدة: حجم أصغر قليلاً */
  font-size: 30px;
}

/* 3. الفقرة الأولى */
.p1 {
  color: #0000ff; /* لون أزرق */
  font-weight: bold;
  
  /* تعديل الحجم */
  font-size: 25px;
}

/* 4. الفقرة الثانية */
.p2 {
  color: #000; /* لون أسود */
  
  /* تعديل الحجم */
  font-size: 20px;
}