/* هذا هو الملف الخارجي External CSS */

h1 {
  /* طلبنا هنا أن يكون اللون أحمر */
  /* تأثيره: سيتم تطبيقه فقط إذا لم يكن هناك كود داخلي (internal) أو مباشر (inline) يعارضه */
  /* في مثالنا هذا، لن يظهر اللون الأحمر لأن "الأزرق" و"الأصفر" أقوى منه */
  color: red;
}
