/* 1. اللون الأحمر (Red) */
/* القيمة الكاملة: ff للأحمر، 00 للأخضر، 00 للأزرق */
.myclass {
  color: #ff0000;
  /* ملاحظة: يمكنك كتابتها باختصار: #f00 */
}

/* 2. اللون الأخضر (Green) */
/* سنستخدم الطريقة المختصرة (0 أحمر، f أخضر، 0 أزرق) */
#myid {
  color: #0f0; /* هذا يساوي #00ff00 */
}

/* 3. اللون الأزرق (Blue) */
/* 00 أحمر، 00 أخضر، ff أزرق */
.p1 {
  color: #0000ff;
  font-size: 20px;
  font-weight: bold;
}

/* 4. اللون الأسود (Black) */
/* كل الألوان مطفأة (أصفار) */
.p2 {
  color: #000000; /* أو باختصار #000 */
  font-size: 20px;
}
